.nested-fields
  .row
    .col-md-10
      = f.input :name
    .col-md-2
      .form-group
        %label
        = link_to_remove_association t('buttons.remove', resource: singular(Seller)), f, class: 'btn form-control btn-danger btn-flat'