.dataTables_wrapper.table-scrollable.form-inline.no-footer
  %table.table.table-striped.table-bordered.table-hover.dataTable{ width: '100%' }
    %thead
      = render 'sellers/list_header'
    %tbody
      = render 'sellers/list_body'