- resource.sellers.each do |object|
  %tr{ id: "#{dom_id(object)}" }
    %td
      = object.id
    - list_attributes(Seller).each do |attribute|
      %td
        = formatted_attribute(object, attribute)