= f.input :name

%h3= plural(Seller)

#sellers
  = render 'crud/form_errors', errors: f.object.errors[:sellers]

  = f.simple_fields_for :sellers do |seller|
    = render 'sellers/fields', f: seller

  .links
    = link_to_add_association t('buttons.add', resource: singular(Seller)), f, :sellers, partial: 'sellers/fields', class: 'btn btn-info btn-flat'