.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title= singular(resource_class)
      .box-body
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.active
              %a{ 'aria-expanded':  'true', 'data-toggle':  'tab', href:  '#tab_1' }= t('title.general_data')
            %li
              %a{ 'aria-expanded':  'false', 'data-toggle':  'tab', href:  '#tab_2' }= plural(Seller)
            %li
              %a{ 'aria-expanded':  'false', 'data-toggle':  'tab', href:  '#tab_3' }= plural(Goal)

          .tab-content
            #tab_1.tab-pane.active
              %dl
                - show_attributes.each do |attribute|
                  %dt= localized_attribute(resource_class, attribute)
                  %dd= formatted_attribute(resource, attribute)

            #tab_2.tab-pane
              = render 'sellers/list'

            #tab_3.tab-pane
              = new_link(new_store_goal_path(resource))

              %hr

              = render 'goals/list'

      .box-footer
        = edit_button(edit_path(resource))
        = back_button