- collection.each do |object|
  %tr{ id: "#{dom_id(object)}" }
    %td
      = object.id
    - list_attributes(resource_class).each do |attribute|
      %td
        = formatted_attribute(object, attribute)

    = render 'list_actions', object: object