%tr
  %th{ width: '50px' }= localized_attribute(resource_class, :id)
  - list_attributes(resource_class).each do |attribute|
    %th
      = localized_attribute(resource_class, attribute)

  %th{ width: '50px' }