.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title= t('title.list', resource: plural(resource_class))
      .box-body
        = new_link(new_path)

        %hr

        = render 'list'