.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title= singular(resource_class)
      .box-body
        %dl
          - show_attributes(resource_class).each do |attribute|
            %dt= localized_attribute(resource_class, attribute)
            %dd= formatted_attribute(resource, attribute)
      .box-footer
        = edit_button(resource)
        = back_button