.nested-fields
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{ 'aria-expanded':  'true', 'data-toggle':  'tab', href:  "#tab_1_#{ f.object_id }" }= t('title.general_data')
      %li
        %a{ 'aria-expanded':  'false', 'data-toggle':  'tab', href:  "#tab_2_#{ f.object_id }" }= plural(Seller)
      %li.pull-right
        = link_to_remove_association '<i class="fa fa-remove"></i>'.html_safe, f, class: 'text-muted'

    .tab-content
      .tab-pane.active{ id: "#tab_1_#{ f.object_id }" }
        .row
          .col-md-6
            = f.input :date, as: :string, input_html: { class: 'date', value: (l(f.object.date) if f.object.date) }
          .col-md-6
            = f.input :value

      .tab-pane{ id: "#tab_2_#{ f.object_id }" }
        = render 'crud/form_errors', errors: f.object.errors[:goal_day_sellers]

        #goal-day-sellers
          .row
            .col-md-12
              = f.simple_fields_for :goal_day_sellers do |goal_day_seller|
                = render 'goal_day_sellers/fields', f: goal_day_seller

              .links
                = link_to_add_association t('buttons.add', resource: singular(GoalDaySeller)),
                  f, :goal_day_sellers, partial: 'goal_day_sellers/fields', class: 'btn btn-info btn-flat'