= f.input :date, as: :string, required: true
= f.input :start_date, as: :hidden, input_html: { value: (l(f.object.start_date) if f.object.start_date) }
= f.input :end_date, as: :hidden, input_html: { value: (l(f.object.end_date) if f.object.end_date) }
= f.input :value

%h3= plural(GoalDay)

#goal-days
  = render 'crud/form_errors', errors: f.object.errors[:goal_days]

  = f.simple_fields_for :goal_days do |goal_day|
    = render 'goal_days/fields', f: goal_day

  .links
    = link_to_add_association t('buttons.add', resource: singular(GoalDay)),
      f, :goal_days, partial: 'goal_days/fields', class: 'btn btn-info btn-flat add_goal_days'