- resource.goals.ordered.each do |object|
  %tr{ id: "#{dom_id(object)}", class: 'active' }
    - list_attributes(Goal).each do |attribute|
      %td= formatted_attribute(object, attribute)

    = render 'goals/list_actions', object: object

  %tr
    %td{ colspan: '4' }
      %div{ style: 'padding-left: 10px' }
        - object.goal_days.ordered.each_with_index do |goal_day, index|
          %h6= l goal_day.date

          - goal_day.goal_day_sellers.each do |goal_day_seller|
            .row
              .col-md-1
                %dd= formatted_attribute(goal_day_seller, :seller)

              .col-md-1
                %dd= formatted_attribute(goal_day, :sellers_value)

          - if object.goal_days[index.next]
            %hr