%td{ width: '10%' }
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ 'aria-expanded': 'false', 'data-toggle': 'dropdown', type: 'button' }
      = t('actions.actions')

      %span.caret
      %span.sr-only
    %ul.dropdown-menu{ role: 'menu' }
      %li
        = edit_link(edit_store_goal_path(resource, object))
      %li
        = destroy_link(store_goal_path(resource, object))