.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title= t('title.create', resource: singular(resource_class))

      = simple_form_for resource, url: store_goals_path, method: :post do |f|
        .box-body
          = render 'crud/form_errors', errors: f.object.errors[:base]
          = render 'form', f: f
        .box-footer
          = f.submit t('buttons.save'), class: 'btn btn-primary btn-flat'

          = back_button