.nested-fields
  .row
    .col-md-10
      = f.association :seller, collection: @store.sellers
    .col-md-2
      .form-group
        %label
        = link_to_remove_association t('buttons.remove', resource: singular(GoalDaySeller)), f, class: 'btn form-control btn-danger btn-flat'