- if notice
  .alert.alert-success.alert-dismissable
    %i.fa.fa-check
    %button.close{ "aria-hidden": "true", "data-dismiss": "alert", type: "button" } ×
    %b= notice
- elsif alert
  .alert.alert-danger.alert-dismissable
    %i.fa.fa-ban
    %button.close{"aria-hidden": "true", "data-dismiss": "alert", type: "button" } ×
    %b= alert