%header.main-header
  %a.logo{ href: "/" }
    %span.logo-mini
      %b> i
    %span.logo-lg
      %b> Indeva
  %nav.navbar.navbar-static-top{ role: 'navigation' }
    %a.sidebar-toggle{ 'data-toggle': 'offcanvas', href: "#", role: 'button' }
      %span.sr-only
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#' }
            %span.hidden-xs= current_owner.email
          %ul.dropdown-menu
            %li= link_to t('actions.signout'), destroy_owner_session_path, method: :delete, class: 'btn btn-danger btn-flat'