%aside.main-sidebar
  %section.sidebar
    .user-panel{ style: 'width: auto; height: 60px;' }
      .pull-left.info{ style: 'left: 0;' }
        %p= current_owner.email
        = link_to t('actions.signout'), destroy_owner_session_path, method: :delete
    = render 'layouts/menu'