!!!
%html
  %head
    %meta{ content:' "text/html; charset=UTF-8"', "http-equiv": 'Content-Type' }
    %meta{ charset: "UTF-8" }
    %title Indeva
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %link{ href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'jquery'
    <!--[if lt IE 9]>
    %script{ src: 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
    %script{ src: 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }
    <![endif]-->
  = csrf_meta_tags
  %body{ class: 'skin-blue sidebar-mini', 'data-menu': params[:controller].parameterize }
    .wrapper
      = render partial: 'layouts/header'
      = render partial: 'layouts/sidebar'
      .content-wrapper
        %section.content-header
          = render 'layouts/flash_message'
        %section.content
          = yield
    = javascript_include_tag 'application'