!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Log in
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag 'application', media: 'all'

    <!--[if lt IE 9]>
    %script{ src: 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
    %script{ src: 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }
    <![endif]-->

  = csrf_meta_tags

  = javascript_include_tag 'jquery'

  %body.login-page
    .login-box
      .login-box-body
        %p.login-box-msg Indeva
        = render 'layouts/flash_message'

        = simple_form_for resource, url: session_path(resource_name) do |f|
          .form-group.has-feedback
            = f.input :email, as: :email, label: false, autofocus: true, input_html: { class: 'form-control' }
            %span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            = f.input :password, as: :password, label: false, autocomplete: 'off', input_html: { class: 'form-control' }
            %span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-4
              = f.submit t('actions.signin'), class: 'btn btn-primary btn-block btn-flat'

    = javascript_include_tag 'application'